*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{width: 50px;
height: 50px;}

.container{
    width: 900px;
    height: 600px;
    margin: 100px auto;
    box-shadow: 0 0 3px #d3d3d3d3;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    position: relative;
}
.winner{
    box-shadow: 0 0 8px 8px tomato inset;
}


.round-number {
    position: absolute;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    border-radius: 50%;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
    background-color: tomato;
}

.header {
    background-color: cadetblue;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 3px 3px gray;
    width: 100%;
}

.players {
    display: flex;
    flex: 1;
}

.player-one, .player-two {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.player.active {
    background-color: rgba(13, 217, 99, 0.89);
}

.player-name {
    text-align: center;
    padding: 10px 0;
}

.current-dice {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-dice img {
    height: 100px;
    width: 100px;
}

.player-one {
    background-color: aqua;
}

.player-two {
    background-color: darkkhaki;
}

.rolled-dice {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    gap: 1%;
}

.rolled-dice img {
    width: 9%;
    height: auto;
}

.footer {
    grid-area: footer;
    background-color: tomato;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 -3px 3px gray;
}